<a href="https://colab.research.google.com/github/jhsl2000/pythonProjects/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Construção da dataframe

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x1 = pd.read_csv('X1.txt', sep=" ", header=None).drop(columns=[1])
x1 = x1.rename(columns={0: "supervised"})

x2 = pd.read_csv('X2.txt', sep=" ", header=None).drop(columns=[1])
x2 = x2.rename(columns={0: "generative"})

labels = pd.read_csv('Labels.txt', sep=" ", header=None).drop(columns=[1])
labels = labels.rename(columns={0: "Labels"})

supervised = pd.concat([x1, labels], axis=1)
supervised.head()

   supervised  Labels
0   11.167833       1
1   17.894127       1
2   18.764783       1
3   20.933105       1
4   17.196753       1

In [ ]:
generative = pd.concat([x2, labels], axis=1)
generative.head()

   generative  Labels
0    0.999944       1
1    1.000000       1
2    1.000000       1
3    1.000000       1
4    1.000000       1

Alinea a

In [ ]:
len(labels[labels["Labels"] == 1])

400

In [ ]:
len(labels[labels["Labels"] == 0])

1000

##True Positives, True Negatives, False Positives and False Negatives


> Supervised Classifier

In [ ]:
#True Positives

tp_sup= len(supervised[(supervised["Labels"] == 1) & (supervised["supervised"] > 0)])
tp_sup

343

In [ ]:
#True Negatives

tn_sup = len(supervised[(supervised["Labels"] == 0) & (supervised["supervised"] < 0)])
tn_sup

906

In [ ]:
#False Positives

fp_sup = len(supervised[(supervised["Labels"] == 0) & (supervised["supervised"] > 0)])
fp_sup

94

In [ ]:
#False Negatives

fn_sup = len(supervised[(supervised["Labels"] == 1) & (supervised["supervised"] < 0)])
fn_sup

57

> Generative Classifier

In [ ]:
#True Positives

tp_gen= len(generative[(generative["Labels"] == 1) & (supervised["generative"] > 0)])
tp_gen

In [ ]:
#True Negatives

tp_gen= len(generative[(generative["Labels"] == 1) & (supervised["generative"] > 0)])
tp_gen

In [ ]:
#False Positives

tp_gen= len(generative[(generative["Labels"] == 1) & (supervised["generative"] > 0)])
tp_gen

In [ ]:
#False Negatives

tp_gen= len(generative[(generative["Labels"] == 1) & (supervised["generative"] > 0)])
tp_gen